<!-- Modal -->
<style>
    .modal-content {
      background-color: #3b3b3b
    }
</style>


<div class="modal fade" id="delete-{{ data[0] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Remove {{ data[0] }}?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Modal BODY HERE-->
          <form method="POST" class="form-signin" style="color:white">
            {{ deleteForm.hidden_tag() }}
            Click 'Remove' to permanently delete {{ data[0] }}
            <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input id="deleted_item" name="deleted_item" type="hidden" value="{{ data[0] }}">
          {{ deleteForm.delete(class="btn btn-danger") }}
        </div>
      </form>
      </div>
    </div>
  </div>