<!-- Modal -->
<style>
    .modal-content {
      background-color: #3b3b3b
    }
</style>


<div class="modal fade" id="edit-{{ data[0] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Department {{ data[0] }}:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Modal BODY HERE-->
          <form method="POST" class="form-signin" style="color:white">
            {{ editForm.hidden_tag() }}
            <label for="usn">USN:</label>
            <input id="usn" name="usn" type="text" class="form-control" value="{{ data[0] }}" readonly>
            <br>
            <label for="sname">Student Name:</label>
            <input id="sname" name="sname" type="text" class="form-control" value="{{ data[1] }}">
            <br>
            <label for="semester">Semester:</label>
            <input id="semester" name="semester" type="number" class="form-control" min=1 max=8 value="{{ data[2] }}">
            <br>
            <label for="section">Section:</label>
            <input id="section" name="section" type="text" class="form-control" value="{{ data[3] }}" maxlength="1">
            <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          {{ editForm.edit(class="btn btn-info") }}
        </div>
      </form>
      </div>
    </div>
  </div>