{% extends 'base.html' %}
{% block title %}
    Admin:Departments
{% endblock %}
{% block content %}
{% include 'includes/add_modals/add_department.html' %}

<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-11">
      <div class="row">
         <h3 scope="col" class="col-8">Manage Departments:</h3>
         <a scope="col" class="btn btn-success col-1" style="width: 15em;" data-toggle="modal" data-target="#add-department">Add New Department</a>
         &nbsp;&nbsp;&nbsp;
         <a scope="col" class="btn btn-info col-1" style="width: 15em;" href="{{ url_for('admin_page') }}">Back</a>
      </div>
        <br>
        <br>
        <table class="table table-hover table-primary table table-striped table-bordered">
            <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col" class="col-2">Department Code</th>
               <th scope="col" class="col-4">Department Name</th>
               <th scope="col" class="col-3">Options</th>
            </tr>
            </thead>
            <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for data in query %}
            {% include 'includes/delete_edit_modals/delete.html' %}
            {% include 'includes/delete_edit_modals/edit_department.html' %}
            <tr>
            <td>{{ data[0] }}</td>
            <td>{{ data[1] }}</td>
            <td>
               <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#edit-{{ data[0] }}">Edit</button>
               <button class="btn btn-outline btn-danger" data-toggle="modal" data-target="#delete-{{ data[0] }}">Remove</button>
            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
</div>
{% endblock %}