{% extends 'base.html' %}
{% block title %}
    Department:Electives
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-11">
        <h3>Manage Electives:</h3>
        <br>
        <br>
        <table class="table table-hover table-striped table-info table-bordered">
            <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col" class="col-2">Subject Code</th>
               <th scope="col" class="col-6">Elective Name</th>
               <th scope="col" class="col-2">Teacher Code</th>
               <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            <!-- Your rows inside the table HERE: -->
            <tr>
               <td>A</td>
               <td>B</td>
               <td>C</td>
               <td>
                  <button class="btn btn-outline btn-info">Edit</button>
                  <button class="btn btn-outline btn-success">Remove</button>
               </td>
            </tr>
            <tr>
                <td>A</td>
                <td>B</td>
                <td>C</td>
                <td>
                   <button class="btn btn-outline btn-info">Edit</button>
                   <button class="btn btn-outline btn-success">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>
</div>
{% endblock %}